body {
    background-color: rgb(240, 240, 240);
}

.introBox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 60px;

    .intro {
        width: 100%;
        height: 100vh;
        max-width: 1000px;
        padding: 0 50px;

        .workIntro {
            width: 100%;
            margin: 120px 0 60px 0;
            padding-left: 50px;

            h1 {
                font-size: 50px;
                letter-spacing: 1.5px;
                color: rgb(60, 34, 34);
                margin: 8px 0;
            }

            h4 {
                font-size: 18px;
                letter-spacing: 1.5px;
                color: rgb(190, 182, 182);
                margin: 8px 0;
            }
        }

        .workDesc {
            width: 100%;
            display: flex;

            p {
                line-height: 25px;
                text-align: justify;
                text-indent: 2em;
                width: 70%;
                max-width: 550px;
                padding: 0 25px 0 50px;
                margin: 10px 5vh 0 0;
            }

            .member {
                width: 30%;
                display: flex;
                flex-wrap: wrap;
                gap: 20px;

                ul {
                    // margin: 10px 10px 25px 10px;
                    list-style: none;
                    padding-inline-start: 0px;
                    margin: 0;
                    width: calc(50% - 10px);

                    span {
                        font-size: 16px;
                        font-weight: bold;
                        line-height: 40px;
                        color: rgb(79, 92, 37);
                        padding-bottom: 3px;
                        border-bottom: solid 1px rgb(79, 92, 37);
                    }

                    li {
                        line-height: 25px;
                    }
                }
            }
        }
    }
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px 50px 20px;

    span {
        max-width: 800px;
        margin: 40px 0 20px 0;

        font-size: 25px;
        color: rgb(60, 34, 34);
        font-weight: bold;
        text-align: center;
        line-height: 35px;
        padding: 0 7px;
        border-bottom: solid 2px rgb(79, 92, 37);
    }

    img {
        width: 100%;
        max-width: 900px;
        margin: 10px 20px;
    }
}